<!--  FORMULARIO MODAL QUE HAY QUE AGREGAR -->
<div id="editarTareaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar Tarea</h4>
      </div>
      <div class="modal-body">
        <h3><i>{{usuariosCtrl.tarea.descripcion}}</i></h3>

        <form name="editarLibroForm" role="form">
          <fieldset>
            <div class="form-group">
              <label for="asignatario">Asignado a</label>
              <select name="asignatario" class="form-control" ng-model="usuariosCtrl.asignatario"
                      ng-options="usuario.nombre as usuario.nombre for usuario in usuariosCtrl.asignatariosPosibles"
                      required="true"></select>
            </div>
            <div class="example-animate-container" style="padding-top:10px">
              <div class="alert alert-danger animate-repeat" ng-repeat="error in errors">{{error}}</div>
            </div>
          </fieldset>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="usuariosCtrl.asignar(usuariosCtrl.asignatario)">Guardar</button>
      </div>
    </div>
  </div>
</div>